.projectcard1,.projectcard2{
    text-align: left;
    height: 100%;
}
.projecttext{
    padding-top:50px ;
    padding-left: 20px;
    padding-right: 30px;
    background-color: rgb(46, 67, 82) !important;
    color: white;
}
.projectover{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(46, 67, 82);
    opacity: 0.6;
}